/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/Recordings/

# 但絕對不要忽略 .meta！
!/[Aa]ssets/**/*.meta

# IDE 與作業系統常見檔案
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.suo
*.tmp
.DS_Store
Thumbs.db
sysinfo.txt
